body {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 20px;
  text-align: justify;
  background-color: rgb(44, 44, 44);
  color: white;
  
}

.contenido {
  width: 80%;
  margin: 0 auto;
}

.caja {
  border: 2px solid #333;
  padding: 20px;
  margin: 10px;
  border-style: dotted;
  background-color: #7c7c7c;
}

h1, h2 {
  color: #ffffff;
  text-align: center;
}

p {
  margin-bottom: 10px;
}