PokeDAW{
  background-image:url(/Tema10/tarea-10/fotos-pokemon/fondopantallapokemon.jpg);
  background-size:contain;
}
Carta {
  float:left;
  width:30%;
  margin:1%;
  height: 25%;
}

Pokemon {
  display: block;
  padding:2%;
  border: 3px solid #0017e2;
  border-radius: 5%;
  border-style:inset;
  background-color: #f0f0f0;
}

Nombre {
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  display: block;
  font-weight:bolder ;
  font-size: 1.7em;
  color: #333;
}

NumeroPokedex {
  font-style: italic;
}

Descripcion {
  font-family:Arial, Helvetica, sans-serif;
  font-size: small;
  text-align: justify;
  display: block;
  margin-top: 5px;
}

Tipo {
  display: inline-block;
  margin-right: 10px;
  background-color: #07ac30;
  padding: 5px;
  border-radius: 5px;
}

Genero {
  display: block;
}

Estado {
  display: block;
  margin-top: 10px;
}

Habilidades {
  display: block;
}

Habilidad {
  display: inline-block;
  margin-right: 10px;
  background-color: #ddd;
  padding: 5px;
  border-radius: 5px;
}

Evolucion {
  display: block;
  margin-top: 10px;
}

Fase {
  font-style: italic;
}

PuntosVida {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

imagen[foto="bulbasur"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/bulbasur.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 1px green;

}


