PokeDAW{
  background-image:url(/Tema10/tarea-10/fotos-pokemon/fondopantallapokemon.jpg);
  background-size:contain;
}
Carta {
  align-items: center;
  float:left;
  width:20%;
  margin:5%;
  margin-right:8%;
}

PokemonPlanta {
  background-image: url(/Tema10/tarea-10/fotos-pokemon/fondoplanta.jpg);
  background-size: cover;
  display: block;
  padding:2%;
  border: 7px solid #d1ff06;
  border-radius: 5%;
  border-style:groove;

  
  font-family: Verdana, Tahoma, sans-serif;
  color: black;
}

PokemonElectrico {
  background-image: url(/Tema10/tarea-10/fotos-pokemon/fondoelectrico.jpg);
  background-size: cover;
  display: block;
  padding:2%;
  border: 7px solid #d1ff06;
  border-radius: 5%;
  border-style:groove;

  font-family: Verdana, Tahoma, sans-serif;
  color: black;
}
PokemonFuego {
  background-image: url(/Tema10/tarea-10/fotos-pokemon/fondofuego.jpg);
  background-size: cover;
  display: block;
  padding:2%;
  border: 7px solid #d1ff06;
  border-radius: 5%;
  border-style:groove;

  font-family: Verdana, Tahoma, sans-serif;
  color: black;
}
PokemonAgua {
  background-image: url(/Tema10/tarea-10/fotos-pokemon/fondoagua.jpg);
  background-size: cover;
  display: block;
  padding:2%;
  border: 7px solid #d1ff06;
  border-radius: 5%;
  border-style:groove;

  font-family: Verdana, Tahoma, sans-serif;
  color: black;
}
PokemonVolador {
  background-image: url(/Tema10/tarea-10/fotos-pokemon/fondovolador.jpg);
  background-size: cover;
  display: block;
  padding:2%;
  border: 7px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;

  font-family: Verdana, Tahoma, sans-serif;
  color: black;
}
PokemonPsiquico {
  background-image: url(/Tema10/tarea-10/fotos-pokemon/fondopsiquico.jpg);
  background-size: cover;
  display: block;
  padding:2%;
  border: 7px solid #d1ff06;
  border-radius: 5%;
  border-style:groove;

  font-family: Verdana, Tahoma, sans-serif;
  color: black;
}


Nombre {
  font-family: Verdana, Tahoma, sans-serif;
  text-align: center;
  margin-left:10%;
  display: block;
  font-weight:bolder;
  font-size: 1.7em;
  color: #000000;
}

NumeroPokedex {
  float:right;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

Descripcion {
  text-align: justify;
  display: block;
  margin-top: 5px;
  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
}

Planta {
  display: inline-block;
  margin-right: 10px;
  margin-top:5px;
  background-color: #07ac30;
  padding: 5px;
  border-radius: 5px;
}
Fuego {
  display: inline-block;
  margin-right: 10px;
  margin-top:5px;
  background-color: #ce5b3f;
  padding: 5px;
  border-radius: 5px;
}
Agua {
  display: inline-block;
  margin-right: 10px;
  margin-top:5px;
  background-color: #0a1dcf;
  padding: 5px;
  border-radius: 5px;
}
Volador {
  display: inline-block;
  margin-right: 10px;
  margin-top:5px;
  background-color: #74afe6;
  padding: 5px;
  border-radius: 5px;
}
Electrico {
  display: inline-block;
  margin-right: 10px;
  margin-top:5px;
  background-color: #cec03f;
  padding: 5px;
  border-radius: 5px;
}
Psiquico {
  display: inline-block;
  margin-right: 10px;
  margin-top:5px;
  background-color: #6e216b;
  padding: 5px;
  border-radius: 5px;
}


Genero {
  display: block;
}

Estado {
  display: block;
  margin-top: 10px;
}

Habilidades {
  display: block;
  margin-top:10px;
  margin-bottom:10px;
}

Habilidad {
  display: inline-block;
  margin-right: 10px;
  background-color: #ddd;
  padding: 5px;
  border-radius: 5px;
}

Evolucion {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

Fase {
  font-style: italic;
}

Destreza, Nivel, Fuerza {
  font-weight: bold;
}

PuntosVida {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}


imagen[foto="bulbasur"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/bulbasur.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(22, 77, 9);
}

imagen[foto="pikachu"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/pikachu.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(226, 198, 74);
}
imagen[foto="charmander"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/charmander.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(179, 34, 34);
}
imagen[foto="charizard"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/charizard.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(179, 34, 34);
}
imagen[foto="blastoise"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/blastoise.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(84, 106, 202);
}

imagen[foto="venusaur"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/venusaur.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(22, 77, 9);
}
imagen[foto="jolteon"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/jolteon.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(226, 198, 74);}
imagen[foto="lapras"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/lapras.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(84, 106, 202);}
imagen[foto="flareon"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/flareon.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(179, 34, 34);}
imagen[foto="victreebrel"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/victreebel.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(22, 77, 9);
}
imagen[foto="pidgeot"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/pidgeot.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(71, 186, 231);
}
imagen[foto="fearow"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/fearow.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(71, 186, 231);
}


imagen[foto="pidgeotto"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/pidgeotto.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(71, 186, 231);
}
imagen[foto="electrike"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/electrike.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(226, 198, 74);
}
imagen[foto="exeggcute"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/exeggcute.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(22, 77, 9);
}
imagen[foto="alakazam"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/alakazam.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(155, 57, 155);}

imagen[foto="mewtwo"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/mewtwo.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 1px green;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(155, 57, 155);
}
imagen[foto="abra"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/abra.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(155, 57, 155);
}
imagen[foto="espeon"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/espeon.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(155, 57, 155);
}

imagen[foto="bellossom"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/bellossom.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(22, 77, 9);
}

imagen[foto="squirtle"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/squirtle.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(84, 106, 202);}

imagen[foto="spearow"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/spearow.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(71, 186, 231);
}

imagen[foto="dragonite"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/dragonite.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(71, 186, 231);
}
imagen[foto="raichu"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/raichu.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(226, 198, 74);
}

imagen[foto="ponyta"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/ponyta.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(179, 34, 34);
}

imagen[foto="hypno"]{
  background-image: url(/Tema10/tarea-10/fotos-pokemon/hypno.png);
  background-size:contain;
  width: 200px;
  height: 200px;
  display: block;
  margin: 1px auto;
  border: 3px solid #d1ff06; 
  border-radius: 5%;
  border-style:groove;
  background-color: rgb(155, 57, 155);
}


