/*NO TOCAR*/

body{
    margin: 0px;
    padding: 0px;
    background: lightcoral;            
}
.container{

    width: 99vw;
    height: 98vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 15% 70% 15%;
    box-sizing: border-box;
    gap: 1%;
    
}
.contenido{
    background-color: lightcyan;
    border: 2% solid blue;
}
.container div:first-child{
    background: lightgreen;
    grid-column-start: 1;
    grid-column-end: 3;
}
.container .segundo{
    background: lightgreen;
    grid-column-start: 1;
    grid-column-end: 2;
}
footer{
    background: lightgreen;
    grid-column-start: 1;
    grid-column-end: 3;
}

/*ESCRIBIR LAS LINEAS DE ESTILO DE PROPIAS DEL MAIN A PARTIR DE AQUÍ*/